
body {
  font-family: "Manrope", sans-serif;
  color: #444;
  scroll-behavior: smooth;
  background: linear-gradient(to right, #f2f2f2, #e6e6e6);
}

a {
  text-decoration: none;
}

a:hover {
  color: #551ef9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #27b7ff;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #5c50ff;
  color: #000;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(25, 28, 31, 0.8);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  height: 60px;
  background: rgba(25, 28, 31, 0.8);
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  margin-right: 20px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #27d4ff;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar a,
  .navbar a:focus {
    padding: 10px 15px;
  }

  .navbar .dropdown ul {
    left: 0;
    top: 100%;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/eom.webp") top right;
  background-size: cover;
  position: relative
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px
}
@media only screen and (max-width: 575px) {
  #hero .hero-container {
    padding: 130px 30px; /* Adjust padding for smaller screens */
  }
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Satisfy", serif;
  color: #f1f1f1
}

#hero h2 {
  font-style: bold;
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase
}

.btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both
}

.btn-scroll i {
  font-size: 48px
}

.btn-scroll:hover {
  color: #2744ff
}

@media (min-width:1024px) {
  #hero {
    background-attachment: fixed
  }
}

@media (max-width:575px) {
  #hero h1 {
    font-size: 40px
  }

  #hero h2 {
    text-align: center;
    margin-bottom: 30px
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px)
  }

  100% {
    transform: translateY(-5px)
  }
}

section {
  padding: 60px 0
}

.section-bg {
  background-color: white
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #c8c5c5;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 600;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2
}

@media (max-width:575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px
  }

  .section-title span {
    font-size: 38px
  }
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #3b434a
}

.about .content ul {
  list-style: none;
  padding: 0
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center
}

.about .content ul strong {
  margin-right: 10px
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #ffb727;
  line-height: 0
}

.about .content p:last-child {
  margin-bottom: 0
}

.about .content .count-box {
  width: 100%
}

.about .content .count-box i {
  display: block;
  font-size: 36px;
  color: #ffb727;
  float: left;
  line-height: 0
}

.about .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #3b434a;
  margin-left: 50px
}

.about .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #5d6a75
}

.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #5d6a75;
  font-size: 15px;
  font-family: "Satisfy", serif;
  transition: ease-in-out 0.3s
}

.about .content .count-box a:hover {
  color: #82909c
}

.about .image {
  background: url("../img/sne-_1_-_1_.webp") center center no-repeat;
  background-size: cover;
  min-height: 500px;
  border-radius: 8px;
  padding: 8px
}

.about .skills-content {
  margin-top: 30px
}

.about .skills-content .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0
}

.about .skills-content .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #ae1919
}

.about .skills-content .progress .skill .val {
  float: right;
  font-style: normal
}

.about .skills-content .progress-bar-wrap {
  background: #e6e8eb
}

.about .skills-content .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #1db2f8
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3b434a
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #8fabc4;
  position: relative
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff2b27;
  margin-bottom: 10px
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px
}

.resume .resume-item ul {
  padding-left: 20px
}

.resume .resume-item ul li {
  padding-bottom: 10px
}

.resume .resume-item:last-child {
  padding-bottom: 0
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #82909c
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #fff;
  margin: 0 auto
}

.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background: #fff4df
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #ff2727
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px
}

.services .title a {
  color: #111;
  transition: 0.3s
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0
}

.services .icon-box:hover {
  border-color: #2797ff;
  border-radius: 8px
}

.services .icon-box:hover .title a {
  color: #ff5627
}

.contact .info-box {
  color: #444444;
  width: 500px;
  height: 230px;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  border-radius: 8px;
  margin: 8px;
  background-color: white
}

@media only screen and (max-width:600px) {
  .contact .info-box {
    width: 100%;
    height: auto
  }
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #ff2727;
  border-radius: 50%;
  padding: 15px;
  background: #fff6e4
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0
}

.contact .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #687683;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #2797ff
}

.contact .social-links a:hover {
  color: #fff;
  border-color: #ffffff;
  background: #27b7ff
}

#footer {
  background: url("../img/bg.webp") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 70px 0;
  position: relative;
  border-radius: 18px;
  margin: 0
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 18px
}

#footer .container {
  position: relative
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Satisfy", serif;
  padding: 0;
  margin: 0 0 25px 0
}

#footer p {
  font-size: 15;
  font-style: bold;
  padding: 0;
  margin: 0 0 40px 0
}
footer {
  text-align: center;
  font-size: 19px;
}

#of img {
  margin-left:5px ;
  width: 49px;
  height: 49px;
  vertical-align: middle; /* Aligns the image vertically in the middle of the line */
}
